/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

//chang global a:hover a:active style
a:hover {
  color: #000;
  background-color: #FFF;
  text-decoration: none;
 }
 a:active {
   color: #000;
 }
//sidebar style
 .side-list {
   height:40px;
   font-size: 15px;
   text-align: center;
 }
 .side-list a{
   color: #A9A9A9;
}

.side-list a:hover {
  color: #000;
  background-color: #FFF;
  text-decoration: none;
 }

 //change post/show h2
 .show h2{
   text-align: center;
 }
