// Place all the styles related to the his controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.his-nav {
  text-align: center;
  font-size: 40px;
}
.his-content{
  text-align: center;
  min-width: 30px;
}
