<!DOCTYPE html>
<html>
    <head>
        <title>吉林大学口腔医院</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
          <nav class="navbar navbar-default his-nav" role="navigation">
                <a class="" href="" >吉林大学口腔医院</a>
          </nav>

            <%= yield %>
        </div>


    </body>
</html>
